.MuiChip-root.selected {
    background-color: #282c34;
    color: aliceblue;
}
.MuiChip-root.unselected {
}

.MuiChip-root.selected:hover {
    background-color: rgba(45,43,48,0.63);
}
.MuiChip-root.unselected:hover {
    background-color: rgba(45,43,48,0.28);
}